header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 2px solid #4338ca;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #062251;
    position: relative;
    min-height: 70px;
    border-radius: 0 0 30px 30px;
}

#logo {
    max-height: 80px;
    padding: 5px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
}

#header_ {
    color: white;
    text-align: center;
    text-decoration: underline;
}

.spacer {
    width: 90px;
}   

body { 
    font-family: sans-serif; 
    margin: 0; 
    background: #f9f9f9; 
}

.login-box { 
    background: white; 
    padding: 40px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#innerbox {
    background-color: rgb(0, 0, 255);
    border: 2px solid #ccc;
    outline: 2px solid #0000ff;
    border-radius: 8px;
    padding: 20px 40px;
}

#title{
    outline: #0000ff;
    background: 2px #7474ff;
    border-radius: 15px 15px 0 0;
    color: white;
    padding: 0px 10px;
    text-align: center;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
}