<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vincular Pasta do Drive</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <h1>Vincular Pasta do Drive a uma Empresa</h1>
    <p>Use o formulário abaixo para encontrar pastas no Google Drive.</p>

    <form method="POST" action="{{ url_for('vincular_drive_page') }}">
        <input type="text" name="nome_empresa_busca" placeholder="Digite o nome da empresa para buscar no Drive" size="50">
        <button type="submit">Buscar Pastas</button>
    </form>
    <hr>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


    {% if files %}
        <h2>Resultados da Busca no Drive:</h2>
        <table>
            <thead>
                <tr>
                    <th>Nome da Pasta no Drive</th>
                    <th>Vincular à Empresa</th>
                    <th>Ação</th>
                </tr>
            </thead>
           <tbody>
    {% for file in files %}
        <form action="{{ url_for('vincular_drive_page') }}" method="POST">
            <tr>
                <td>
                    <a href="{{ file.webViewLink }}" target="_blank">{{ file.name }}</a>
                    <br>
                    <a>ID: {{ file.id }}</a>
                </td>
                
                <td>
                    <input type="hidden" name="folder_id" value="{{ file.id }}">
                    
                    <select name="empresa_id" required>
                        <option value="">-- Selecione a empresa --</option>
                        {% for empresa in empresas %}
                            <option value="{{ empresa.id }}">{{ empresa.razao_social }}</option>
                        {% endfor %}
                    </select>
                </td>

                <td>
                    <button type="submit">Vincular</button>
                </td>
            </tr>
        </form>
    {% endfor %}
</tbody>
        </table>
    {% endif %}

</body>
</html>
