<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vincular Pasta do Drive</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/x-icon">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <header>
        <div class="header-left">
            <a href="{{ url_for('dashboard') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" id="logo" >
            </a>
            <img src="{{ url_for('static', filename='images/info.png') }}" alt="Info" class="header-icon" id="info-button" title="Instruções">
            
            <div id="info-popup" class="info-popup">
                <h2>Drive</h2>
                <p>Nessa pagina você consegue vincular a pasta do Google Drive a respectiva empresa.</p>
                <hr>
                <h4>Buscar Pasta:</h4>
                <ul>
                    <li>Selecione o nome da pasta (De acordo os arquivos no Google Drive).</li>
                    <li>Clique no botão para buscar.</li>
                </ul>
                <hr>
                <h4>Resultados de busca no Drive:</h4>
                <ul>
                    <li>Lista todas as pastas contendo o nome pesquisado.</li>
                    <li>Ao clicar no nome da pasta será redirecionado para a mesma no Google Drive</li>
                    <li>Use a caixa para determinar de qual empresa será aquela pasta.</li>
                    <li>Clique no botão para Vincular (A partir desse momento, quando o contador acessar aquela empresa verá os arquivos dessa pasta)</li>
                </ul>
            </div>

            <a href="https://wa.me/5533999956841" target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="Suporte" class="header-icon">
            </a>
        </div>

        <div class="header-center">
            <h1>Painel Administrativo</h1>
        </div>

        <div class="header-right">
            <a href="{{ url_for('dashboard') }}" class="dropdown-button">
                <img src="{{ url_for('static', filename='images/folder.png') }}" alt="Dashboard" id="icon">
                <span>Arquivos</span>
            </a>
            <div class="dropdown">
                <button class="dropdown-button" id="menu-button">
                    <img src="{{ url_for('static', filename='images/settings.png') }}" alt="Menu" id="icon"> <span>Menu</span>
                </button>
                <div class="dropdown-content" id="menu-dropdown">
                    <a href="{{ url_for('admin_cadastros') }}" class="dropdown-item">
                        <img src="{{ url_for('static', filename='images/add.png') }}" alt="Admin" id="icon">
                        <span>Cadastrar</span>
                    </a>
                    <a href="{{ url_for('admin_vinculos') }}" class="dropdown-item">
                            <img src="{{ url_for('static', filename='images/chain.png') }}" alt="Vínculos" id="icon">
                            <span>Vínculos</span>
                        </a>
                        <a href="{{ url_for('vincular_drive_page') }}" class="dropdown-item">
                            <img src="{{ url_for('static', filename='images/drive.png') }}" alt="Drive" id="icon">
                            <span>Drive</span>
                        </a>
                </div>
            </div>
            <a href="{{ url_for('logout') }}" id="sair">
                <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Sair" id="icon">
                <span>Sair</span>
            </a>
        </div>
    </header>

    <h1 align="center">Vincular Pasta do Drive a uma Empresa</h1>

    <div class="admin-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <!-- Formulário de Busca -->
        <div class="form-container">
            <form method="POST" action="{{ url_for('vincular_drive_page') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="text" name="nome_empresa_busca" placeholder="Digite o nome da empresa para buscar no Drive" size="50">
                <button type="submit">Buscar Pastas</button>
            </form>
            <br>
            <hr>
            <br>
            {% if files %}
                <h2 align="center">Resultados da Busca no Drive:</h2>
            {% endif %}
            <div class="table"> 
                {% if files %}
                <table>
                    <thead>
                        <tr>
                            <th>Nome da Pasta / ID</th>
                            <th>Vincular à Empresa</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                            <tr>
                                <td>
                                    <strong>Pasta: </strong>
                                    <a href="{{ file.webViewLink }}" target="_blank">{{ file.name }}</a><br>
                                    <strong>ID: </strong>
                                    <a>{{ file.id }}</a>
                                </td>
                                
                                <form action="{{ url_for('salvar_vinculo') }}" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <input type="hidden" name="folder_id" value="{{ file.id }}">
                                    
                                    <td>
                                        <select name="empresa_id" required>
                                            <option value="">-- Selecione a empresa --</option>
                                            {% for empresa in empresas %}
                                                <option value="{{ empresa.id }}">{{ empresa.nome_fantasia or empresa.razao_social }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>

                                    <td>
                                        <button type="submit">Vincular</button>
                                    </td>
                                </form>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p style="padding: 20px; text-align: center;">Nenhum resultado de busca para exibir.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
