<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Portal do Contador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <header>
        <div class="header-nav"></div>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" id="logo">
        <div class="header_">
            <h1>Bem-vindo(a), {{ username }}!</h1>
        </div>
        <a href="{{ url_for('dashboard') }}" class="nav-link">
            <img src="{{ url_for('static', filename='images/folder.png') }}" alt="Dashboard" id="icon">
        </a>
        {% if is_admin %}
            <a href="{{ url_for('admin_page') }}" class="nav-link">
                <img src="{{ url_for('static', filename='images/settings.png') }}" alt="Admin" id="icon">
            </a>
        {% endif %}        
        <a href="{{ url_for('logout') }}" id="sair">Sair</a>
    </header>

    <div class="dashboard-container">
        <aside class="menu-lateral">
            <h3>Empresas</h3>
            <p>Selecione uma empresa para ver os arquivos.</p>
            <form action="{{ url_for('dashboard')}}" method="GET">
                <select name="empresa_id" class="empresa-select">
                    {% for empresa in empresas %}
                        <option value="{{ empresa.id }}">
                            {{ empresa.nome_fantasia or empresa.razao_social }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit">Ver Arquivos</button>
            </form>
            <div class="info-contador">
                <p>Logado como: <br><strong>{{ username }}</strong></p>
            </div>
        </aside>

        <main class="conteudo-principal">
            {% if files %}
            <h2>Seus arquivos disponíveis:</h2>
                <ul>
                    {% for file in files %}
                        <li>
                            <a href="{{ file.webViewLink }}" target="_blank">{{ file.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h2>Arquivos da Empresa</h2>
                <p>Nenhum arquivo encontrado no momento.</p>
                <p>Selecione uma empresa no menu lateral para ver os arquivos disponíveis.</p>            
            {% endif %}
        </main>
    </div>
</body>
</html>